{% extends "courses/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>{% block head %}Alterar Senha{% endblock %}</title>
    <style>
        h2, h4 {
          text-align: center;
        }
    </style>
  </head>
  <body class="bg-light">
      <div class="text-center mb-5">
        <a href="https://www.flaticon.com/br/icones-gratis/confirme" target="_blank"><img width="7%" class="icone-confirm my-3" src="{% static 'img/confirme.png' %}"></a>
        <h2>
          Redefinição de senha enviada.
        </h2>
      </div>
      <h4>
        Nós te enviamos um e-mail com instruções para configurar sua senha. <br>
        Se uma conta existe com o e-mail fornecido, você receberá a mensagem em breve. <br>
        Se você não recebeu um e-mail, por favor certifique-se que você forneceu <br>
        o endereço de email que você está cadastrado e verifique sua pasta de spam.
      </h4>
  </body>
  </html>
{% endblock %}
