{% extends "courses/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .buttons-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .btn {
        display: inline-block;
        background-color: #0096c7;
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        margin: 0 10px;
    }

    .btn:hover {
        background-color: #108eb8;
    }
</style>
<section class="bg-light py-5">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <a href="https://www.flaticon.com/br/icones-gratis/senha" target="_blank"><img width="7%" class="icone-login" src="{% static 'img/senha.png' %}"></a>
            <h2 class="fw-bolder my-3"> Alterar Senha </h2>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <form method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid">
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="showPasswords">
                            <label class="form-check-label" for="showPasswords">Ver Senha</label>
                        </div>
                        <div class="buttons-container">
                            <button class="btn btn-secondary" id="submitButton" type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function() {
        $('#showPasswords').change(function(){
            var isChecked = $(this).is(':checked');

            if (isChecked) {
                $('#id_new_password1, #id_new_password2').attr('type', 'text');
            } else {
                $('#id_new_password1, #id_new_password2').attr('type', 'password');
            }
        });
    });
</script>
{% endblock %}
